.nav-bar ul {
  display: flex;

  justify-content: center;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7ad58f;
  width: 100%
}

.eat-drink {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.eat-drink p {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;

}

.userInfoDiv {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}

.userInfoDiv input {
  margin-bottom:5%;
  margin-top:1%;
  height: 40px;
  width: 300px;
  border-radius: 12px;
  border-width: 2px;
  border-color: rgba(0,0,0,0.3);
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.userInfoDiv input[type=radio]{
  width:fit-content;
  height:fit-content;
}

.userInfoDiv label {
  margin-top:5%;
  height: 40px;
  width: 300px;
  border-radius: 12px;
  border-width: 2px;
  border-color: rgba(0,0,0,0.3);
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.userInfoDiv input[type=submit]{
  background-color: rgba(0, 150, 0, 0.1);
  border-color: rgba(0,0,0,0.2);
  width:308px; 
}

#addInterestButton{
  width:150px;
}

.interestsDiv{

}

.eat-drink select {
  height: 40px;
  width: 300px;
  border-radius: 36px;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.transportation {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.transportation .gmu-bus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transportation .gmu-bus img {
  height: 350px;
  border-radius: 50%;
  width: 325px;
}

.transportation .gmu-bus img:hover {
  box-shadow: 10px 10px 10px #000000;
}

.transportation .gmu-bus p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.transportation .metrorail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transportation .metrorail img {
  height: 350px;
  border-radius: 50%;
}

.transportation .metrorail img:hover {
  box-shadow: 10px 10px 10px #000000;
}

.transportation .metrorail p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.transportation .metrobus img {
  height: 350px;
  border-radius: 50%;
}

.transportation .metrobus img:hover {
  box-shadow: 10px 10px 10px #000000;
}

.transportation .metrobusrail p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.discounts {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.discounts p {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;

}

.discounts select {
  height: 40px;
  width: 300px;
  border-radius: 36px;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selected {
  background-color: rgba(0, 150, 0, 0.4);
}

.intro h1 {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.intro p {
  font-family: Arial, Helvetica, sans-serif;
}

.about-us {
  text-align: center;
}

.offer {
  text-align: center;
}

.nav-bar {
  display: flex;

  justify-content: center;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7ad58f;
}

#interestLink {
  margin-right: 1%;
  margin-left: auto;
}

img {
  justify-self: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blanchedalmond;
}

.find-events p {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.find-events .filter-search {
  display: flex;
  justify-content: center;
}

.find-events .filter-search select {
  height: 40px;
  width: 300px;
  border-radius: 36px;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.find-events .filter-search input {
  height: 40px;
  width: 300px;
  border-radius: 36px;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.find-events .filter-search button {
  height: 40px;
  font-size: 19px;
  font-family: Geneva, Tahoma, sans-serif;
}

footer {
  position: fixed;

  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 200px;
}

.footer-stuff {
  background-color: blanchedalmond;
  display: flex;
}

.footer-stuff .category {
  width: 150px;
  height: auto;
  box-sizing: border-box;
  padding: 15px;
}

.footer-stuff .category h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Geneva, Tahoma, sans-serif;
}

.footer-stuff .category ul {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  font-family: sans-serif;
}